.component{
    background-color:  #282c34;
    background-size: cover;
    text-align: center;
    justify-content: center;
}
.editCardHeader{
    display: flex;
}
.editButton{
    margin-left: auto;
}
.editControl{
    display: inline-flex
}
.editInput{
    margin-left: 5px;
}
.mapa{
    height: 100%;
    width: 100%;
}