.individuos-bg{
    background-color: #282c34;
    background-size: center;
    justify-content: center;
}
.botones{
    align-items: unset;
    justify-content: left;
    margin-top: 15px;
}
.individuo-locator-map{
    
}