.botones{
    align-items: center;
}
.boton{
    margin-left: 5px;
}
.logout{
    direction:rtl;
    position: relative;
    padding-left: 15px;
}
.welcome{
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.component-bg{
    background-color: #282c34;
    background-size: cover;
    height: 100vh;  
    align-items: center;  
    justify-content: center;
}